<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter, class: 'form-label' %><br>
    <%= form.text_field :commenter, class: 'form-control', value: user_signed_in? ? current_user.username : '', readonly: true %>
  </p>
  <p>
    <%= form.label :body, class: 'form-label' %><br>
    <%= form.text_area :body, class: 'form-control' %>
  </p>
  <p>
    <%= form.submit 'Create Comment', class: 'btn btn-primary my-4' %>
  </p>
<% end %>
