<div class="hero-section text-center p-4 p-md-5 mb-4 rounded">
    <h1 class="mt-5 display-4">EPILOGUE.</h1>
    <p class="lead my-3">Find comfort within these pages.</p>
</div>
<%# only display featured articles if more than 1 %>
<% if Article.second %>
<div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0"><%= @article_feature1.title %></h3>
          <br>
          <p class="card-text mb-auto"><%= @article_feature1.body.to_plain_text.truncate_words(25) %></p>
          <div class="text-primary">
            <%= link_to "Continue Reading", article_path(@article_feature1), class: 'text-primary' %>
            <%= icon("arrow-right") %>
          </div>
        </div>
        <% if @article_feature1.thumbnail.present?  %>
          <div class="col-auto d-none d-lg-block">
              <%= image_tag(@article_feature1.thumbnail, class:'feature-img') %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0"><%= @article_feature2.title %></h3>
          <br>
          <p class="mb-auto"><%= @article_feature2.body.to_plain_text.truncate_words(25) %></p>
          <div class="text-primary">
            <%= link_to "Continue Reading", article_path(@article_feature2), class: 'text-primary' %>
            <%= icon("arrow-right") %>
          </div>
        </div>
        <% if @article_feature2.thumbnail.present?  %>
        <div class="col-auto d-none d-lg-block">
          <%= image_tag(@article_feature2.thumbnail, class:'feature-img') %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div class="row g-5">
<div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-primary text-light rounded">
          <h4 class="fst-italic border-bottom pb-2">About</h4>
          <p class="mb-0">Hi! Welcome to Epilogue–my special nook for all things books. Sharing with you some book recommendations and reviews.
          <br><br>Happy reading <%= icon("emoji-smile") %> </p>
        </div>
        <div class="p-4">
          <h4 class="fst-italic">Social</h4>
          <ol class="list-unstyled">
            <%= icon("instagram", class: 'mx-2') %>
            <%= icon("twitter", class: 'mx-2') %>
            <%= icon("linkedin", class: 'mx-2') %>
          </ol>
        </div>
      </div>
    </div>
    <div class="col-md-8 my-4">
      <h3 class="py-4 mb-4 fst-italic border-bottom">
        <q class="text-muted">To read is to voyage through time.</q><span class="lead">- Carl Sagan</span>
      </h3>
    <% if Article.fourth %>
    <% @feature_articles.each do |article| %>
      <article>
        <h2><%= link_to article.title, article_path(article), class: 'link-dark' %></h2>
        <p><%= article.updated_at.strftime("%b %d, %Y") %> by <%= article.user.username %></p>
        <p><%= article.body.to_plain_text.truncate_words(60) %></p>
      </article>
      <hr>
    <% end %>
    <% end %>
    </div>
</div>